<a href="https://colab.research.google.com/github/Irhs1220/NLP_2024/blob/main/3%20%EC%9D%B8%EB%8D%B1%EC%8B%B1%EA%B3%BC%20%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ğŸ“Œ Indexing of Sequence Data

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|



# âœ‚ï¸ Slicing of List data

        ğŸ‘» You have to deduct one (-1) from the second element (2ë²ˆì§¸ ìš”ì†Œë¥¼ |oo ë¯¸ë§Œ|ìœ¼ë¡œ í•´ì„í•œë‹¤.  

- [:] from the first element to the final element (e.g., 'I love Python!')
 [:] ì²˜ìŒë¶€í„° ì „ë¶€ë‹¤.

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|


- [1:5] from Index 1 to Index 4 (e.g., ' love') (5 ë¯¸ë§Œ)
 [1:5] 1ì—ì„œë¶€í„° 5ë¯¸ë§Œê¹Œì§€ (5 ë¯¸í¬í•¨)


| str data |   | l | o | v |
|:---------|:--|:--|:--|:-:|
| Forward Indexing | 1 | 2 | 3 | 4 |


- [:5] from Index 0 to Index 4 (e.g., 'I love') (5 ë¯¸ë§Œ)
[:5] ì²˜ìŒë¶€í„° 5ë¯¸ë§Œê¹Œì§€ (5 ë¯¸í¬í•¨)


| str data | I |   | l | o | v |
|:---------|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 |


- [5:] from Index 5 to the final element (e.g., 'e Python!')
 [5:] 5ì—ì„œë¶€í„° ëê¹Œì§€ (5 í¬í•¨)

| str data | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|

- [:-3] from forward Index 0 to Backward Index -4 (e.g., 'I love Pyth') (-3 ë¯¸ë§Œ)
 [:-3] ì²˜ìŒë¶€í„° -3ê¹Œì§€

| str data | I |   | l | o | v | e |  | P | y | t | h |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|

- [-3:] from backward Index -3 to the final element (e.g., 'on!')
 [-3:] -3ë¶€í„° ëê¹Œì§€

| str data | o |n | ! |
|:---------|:-|:-|:-:|
| Backward Indexing|-3| -2|-1|


- [::2] Every other element from the first element (e.g., 'Ilv yho')
 [::2] ì²˜ìŒì—ì„œ í•˜ë‚˜ì”© ê±´ë„ˆë›°ë©´ì„œ 2ë¶€í„° ëê¹Œì§€

| str data | I | l | v |  | y | h | o |
|:---------|:--|:--|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 2 | 4 | 6 | 8 | 10| 12|



# âš¾ âš½ ğŸ€ ğŸ¾ ğŸ¯ It is time to get some exercise!

In [ ]:
#@markdown ['\n']ì€ í”„ë¦°íŠ¸í• ë•Œ ë¼ì¸ í•œì¤„ ë„ìš°ëŠ” ê²ƒ, ì•„ë˜ í”„ë¦°íŠ¸ëŠ” ìŠ¬ë¼ì´ìŠ¤ ê¸°ë²•ì¤‘ í•˜ë‚˜
str_data = 'I love python'
list_data = ['apple', 'banana', 'grapes', 'mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print (str_data)
print ('\n')
print (list_data)
print ('\n')
print (tuple_data)

print (str_data[0])
print (str_data[1])
print (str_data[2])
print (str_data[3])
print (str_data[4])
print (str_data[5])
print (str_data[6])
print (str_data[7])
print (str_data[8])
print (str_data[9])
print (str_data[10])
print (str_data[11])
print (str_data[12])

I love python


['apple', 'banana', 'grapes', 'mango']


('apple', 'banana', 'grapes', 'mango')
I

l
o
v
e

p
y
t
h
o
n

In [3]:
str = 'temperature'
print (str)

print (str[4])
print (str[1])
print (str[6])
print (str[9])

temperature
e
e
a
r

In [6]:
str = 'I love Python?'
print (str)

print (str[-1])
print (str[-2])
print (str[-3])
print (str[-4])
print (str[-5])
print (str[-6])
print (str[-7])
print (str[-8])
print (str[-9])
print (str[-10])
print (str[-11])
print (str[-12])
print (str[-13])
print (str[-14])

I love Python?
?
n
o
h
t
y
P

e
v
o
l

I

In [9]:
str = 'Time is money!!'

print (str[1])
print (str[2])
print (str[5])
print (str[6])
print (str[8])

i
m
i
s
m

In [10]:
#@markdown """ "(í° ë”°ì˜´í‘œ 1ìŒê³¼ ì•ì— ë¶™ëŠ” 2ê°œëŠ” ì¸ìš©êµ¬)
str = """She said, "Time is money!!"
"""

print (str)
print (str[0])

She said, "Time is money!!"

S

In [11]:
#@markdown "(í°ë”°ì˜´í‘œ 1ìŒì€ ì†Œìœ ê²©, ë‹¨ì–´ì¶•ì•½)
str = "I've had two bananas. I think taht it is Sarah's."

print (str)

I've had two banana. I think taht it is Sarah's.

In [12]:
#@markdown '(ì‘ì€ ë”°ì˜´í‘œ 1ìŒì€ ì¶•ì•½ ë“±ì„ í• ë•Œ ì…ë ¥ ì˜¤ë¥˜ë‚˜ì˜´)
str = 'I've had two bananas. I think it is Sarah's.'

print (str)

SyntaxError: invalid syntax (<ipython-input-12-927e6752a917>, line 1)

In [20]:
#@markdown '[]' (ëŒ€ê´„í˜¸ë¡œ ë¬¶ìœ¼ë©´ í•˜ë‚˜ë¡œ ì·¨ê¸‰, ê·¸ ë¬¶ìŒ ì¤‘ í•˜ë‚˜ë¥¼ ë½‘ì•„ë‚´ê³  ì‹¶ìœ¼ë©´ ëŒ€ê´„í˜¸ í•œ ë²ˆ ë” ì“°ê³  ë²ˆí˜¸ ì…ë ¥)
list = [1,2, [3,4,5]]

print (list[0])
print (list[1])
print (list[-1])
print ('\n')

print (list[2][1])
print (list[-1][-2])

1
2
[3, 4, 5]


4
4

In [24]:
#@markdown ì¬ìˆ˜ì • í•˜ëŠ” ë²•

list = ['apple', 'banana', 'grapes', 'mango']
print (list)

list[0] ='shine musket'
print (list)

['apple', 'banana', 'grapes', 'mango']
['shine musket', 'banana', 'grapes', 'mango']

In [25]:
#@markdown íŠœí”Œë°ì´í„°ëŠ” ìˆ˜ì • ì•ˆ ë¨

tuple = ('apple', 'banana', 'grapes', 'mango')
tuple[0] = 'shine musket'
print (tuple)

TypeError: 'tuple' object does not support item assignment

In [31]:
#@markdown ìŠ¬ë¼ì´ìŠ¤ ê¸°ë²• (ë²”ìœ„ ì„¤ì •í•˜ëŠ” ë²•ì€ ìœ„ì— ìˆìŒ)

str = 'Time is money!!'
print (str[1:5])
print (str[:7])
print (str[9:])
print (str[-3:])
print (str[:])
print (str[::2])

ime
Time is
oney!!
y!!
Time is money!!
Tm smny!

In [35]:
#@markdown ;(ëŠ” í•œ ì¤„ì— ë‚˜ì—´í•  ìˆ˜ ìˆê²Œ í•´ì¤Œ) / ë¶™ì—¬ ì“¸ ë•Œ ë„ì–´ì“°ê¸° í•˜ëŠ” ë²•ì€ ì•ì— ë¬¶ìŒ ë’¤ì— ê³µë€ì„ ë§Œë“¤ê±°ë‚˜ ë’¤ì—ë„ ê³µë€ì„ ë§Œë“¤ê±°ë‚˜ í•œë‹¤. ë˜ëŠ” ê³µë€ ë¬¶ìŒì„ ë§Œë“¤ë©´ ëœë‹¤.

str1 = 'I love' ; str2 = 'Python'
print (str1 + str2)
str1 = 'I love ' ; str2 = 'Python'
print (str1 + str2)
str1 = 'I love' ; str2 = ' Python'
print (str1 + str2)
str1 = 'I love' ; str0 = ' ' ;str2 = 'Python'
print (str1 + str0 + str2)

I lovePython
I love Python
I love Python
I love Python

In [36]:
#@markdown * ì—ìŠ¤í„°ë¦¬ìŠ¤í¬ëŠ” ë°˜ë³µ(ê³±í•˜ê¸° íš¨ê³¼)

subjet = 'BTS' ; verb = 'sings' ; object = 'butter'
sentence = subjet + verb + object * 5
print (sentence)

BTSsingsbutterbutterbutterbutterbutter

In [39]:
#@markdown lenì€ ê¸¸ì´ í•¨ìˆ˜(ê¸€ì ê°œìˆ˜ í™•ì¸)

str = 'I love Python!'
print (len(str))

14

ì—¬ê¸°ê¹Œì§€ ë‚´ê°€í•œê±°

In [ ]:
#@markdown ğŸš— ğŸš™ Sequence data (str, list, tuple)

#@markdown ##Exercise


str_data = 'I love python'
list_data = ['apple', 'banana', 'grapes', 'mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print (str_data)
print (list_data)
print(tuple_data)

I love python
['apple', 'banana', 'grapes', 'mango']
('apple', 'banana', 'grapes', 'mango')

In [ ]:
#@markdown ğŸ“Œ Apply indices to string data

#@markdown Forward Indexing

str_data="I love Python"
print(str_data[0])
print(str_data[1])
print(str_data[2])
print(str_data[3])
print(str_data[4])
print(str_data[5])
print(str_data[6])
print(str_data[7])
print(str_data[8])
print(str_data[9])
print(str_data[10])
print(str_data[11])
print(str_data[12])

I

l
o
v
e

P
y
t
h
o
n

In [ ]:
#@markdown ğŸ“Œ Apply indices to string data

#@markdown Backward Indexing

str_data="I love Python"
print(str_data[-1])
print(str_data[-2])
print(str_data[-3])
print(str_data[-4])
print(str_data[-5])
print(str_data[-6])
print(str_data[-7])
print(str_data[-8])
print(str_data[-9])
print(str_data[-10])
print(str_data[-11])
print(str_data[-12])
print(str_data[-13])

n
o
h
t
y
P

e
v
o
l

I

In [ ]:
strdata = 'Time is money!!'
print(strdata[5])
print(strdata[-2])
print(strdata[0])

i
!
T

In [ ]:
listdata = [1, 2, [1,2,3]]
print(listdata[0])
print(listdata[-1])
print(listdata[2][-1])

1
[1, 2, 3]
3

In [ ]:
#@markdown ğŸ“Œ Apply indices to List data

#@markdown ## Replacment by means of using incices

list_data = ['apple', 'banana', 'grapes', 'mango']
list_data[0]="shine musket"

print (list_data)

['shine musket', 'banana', 'grapes', 'mango']

In [ ]:
#@markdown ğŸ‘€ Apply indices to Tupple data

#@markdown ### No Replacement for Tuple data (<font color = 'red'> TypeError</font> will pop up: <font color = 'red'>'tuple' object does not support item assignment)

tuple_data = ('apple', 'banana', 'grapes', 'mango')
tuple_data[0]="shine musket"

print (tuple_data)

TypeError: ignored

In [ ]:
#@markdown Slice sequence data

str_data = 'Time is money!!'
print(str_data[1:5])
print(str_data[:7])
print(str_data[9:])
print(str_data[:-3])
print(str_data[-3:])
print(str_data[:])
print(str_data[::2]) # ì²˜ìŒë¶€í„° ëê¹Œì§€ ìŠ¤í…ì„ 2ë¡œ í•´ì„œ ìŠ¬ë¼ì´ì‹± í•˜ê¸°.

ime
Time is
oney!!
Time is mone
y!!
Time is money!!
Tm smny!

#ì‹œí€€ìŠ¤ ìë£Œ ì—°ê²°í•˜ê¸° (+)
  -ìë£Œí˜•ì´ ë™ì¼í•œ ë‘ ê°œì˜ ì‹œí€€ìŠ¤ ìë£ŒëŠ” ì—°ê²° ê°€ëŠ¥
  

#ì‹œí€€ìŠ¤ ìë£Œ ë°˜ë³µí•˜ê¸° (*ìˆ«ì)

In [ ]:
strdata1 = 'I love'; strdata2='Python'
print (strdata1 + strdata2)
print(strdata1*5)

I lovePython
I loveI loveI loveI loveI love

###  ğŸ‘€ ğŸ¾ **Make a wild guess how to <font color = 'red'> add space</font> between 'love' and 'Python.'**

In [ ]:
#@markdown ğŸ’Š **Possibility 1ï¸âƒ£ ğŸ’¡**

strdata1 = 'I love '; strdata2='Python'
print (strdata1 + strdata2)

In [ ]:
#@markdown ğŸ’Š **Possibility 2ï¸âƒ£ ğŸ’¡**

strdata1 = 'I love '; strdata2=' Python'
print (strdata1 + strdata2)

In [ ]:
#@markdown ğŸ’Š **Possibility 3ï¸âƒ£ ğŸ’¡**

strdata1 = 'I love'; strdata0 = ' '; strdata2='Python'
print (strdata1 + strdata0 + strdata2)

In [ ]:
subject = 'BTS'; verb= 'sings'; object = 'butter'
sentence = subject + verb + object * 5
print (sentence)

BTSsingsbutterbutterbutterbutterbutter

In [ ]:
#@markdown ğŸ’Š Possibility 1ï¸âƒ£ ğŸ’¡

subject = 'BTS '; verb= 'sings '; object = 'butter'
sentence = subject + verb + object * 5

In [ ]:
#@markdown ì‹œí€€ìŠ¤ ìë£Œ í¬ê¸° ì´í•´í•˜ê¸° (len)

str_data = 'I love Python'
print(len(str_data))

13