<a href="https://colab.research.google.com/github/Irhs1220/NLP_2024/blob/main/%EC%88%98%EC%97%85%20%EB%B3%B5%EC%8A%B5%20%ED%8C%8C%EC%9D%BC_md.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 수업 복습 파일

### 0. 마크다운 랭귀지 사용법

# 😊😃☺️ **<font color = 'red'> 마크다운 랭귀지 </font>사용법**

* ## 마크다운 랭귀지의 <font color = 'orange'> 더 많은 구문</font>을 보려면, [이곳을 클릭해주세요!](https://www.markdownguide.org/basic-syntax/)

# NLP_2024

# 🐹😻 **파이썬 언어**

## **콜랩**([콜랩 사이트 방문](https://colab.research.google.com/?utm_source=scs-index))과 **깃허브**([깃허브 사이트 방문](https://github.com/))를 이용한 **파이썬 배우기**

### **1. 깃허브 가입하기** ([유튜브 강좌 방문하기](https://www.youtube.com/watch?v=c-NikCpec7U))
### **2. 구글 콜라보레이터리 가입하기** (aka. Colab) ([유튜브 강좌 방문하기](https://www.youtube.com/watch?v=2X_EU18OeYM))

### **3. 참고하기 좋은 레퍼런스**
- Exercises 200 파이썬200제 by 장삼용. 정보문화사 2017
- [Jump to Python](https://wikidocs.net/book/1)
- [wikidocs for nltk](https://wikidocs.net/21667)

### **4. 마크다운 랭귀지**
* [Emoji](https://gist.github.com/rxaviers/7360908)
* [Markdown syntax](https://www.markdownguide.org/basic-syntax/)

### **5. 수업 자료**
| # | 주제 | 중요 단어 |
|:--:|:--:|:--:|
| 1 | 마크다운 랭귀지💬 | 글자 크기, 글자 색, 점 표시, [구문](https://github.com/ms624atyale/NLP_2024/blob/main/0_MarkDown4README_md.ipynb)|
| 2 | 코드 셀 생성하기⚡ | 코드 라인, 프로그램 실행법 |

### 1. 코드 셀 생성하기

In [ ]:
a = 1 #a를 1에 할당한다. 파운드 사인을 표시한 부분부터 그 줄 끝까지는 설명글이 되어 코드라인이 되지 않는다.

In [ ]:
#@markdown 변수 a를 정의한다.

a = 1

In [ ]:
#@markdown 변수 b를 정의한다.

b = 2

In [ ]:
#@markdown print()는 함수를 가져다 쓸 때 사용. ()안에 함수 넣기, 변수 값은 가장 최근 업데이트 된 값으로 됨.

a = 1
a = 2
a = 100
print(a)

100

In [ ]:
#@markdown print()안에서 변수의 합이 결과로 도출됨

a = 1
b = 2
print(a + b)

3

In [ ]:
#@markdown print는 코딩에서 확인하다라는 뜻이 있음.

c = 3
print(c)

3

In [ ]:
#@markdown 먼저 있던거 적용되었으면 아래에 있는 것들에도 자동 적용

print(c - b)

1

In [ ]:
#@markdown 변수값은 가장 최근 것

a = 1000
print(a + b)

1002

In [ ]:
#@markdown 언더바 쓰면 더 많은 변수 지정가능

a_1 = 100
a_2 = 1000000
print(a_1 + a_2)

1000100

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 2. 데이터의 다섯 종류

In [ ]:
#@markdown a값 할당

a = 1
print (a)

1

In [ ]:
#@markdown b값 할당

b = 2
print (b)

2

In [ ]:
#@markdown a b 합값

print (a + b)

3

In [ ]:
#@markdown a값 변경

a = 100
print (a + b)

102

In [ ]:
#@markdown c값 할당

c = "I love Python"
print (c)

I love Python

In [ ]:
#@markdown 이름 할당해보기, 언더스코어 할때는 숫자먼저 쓰면 안 됨.

a = 'Lori'
_b = 'Sam'
a_b = 'Ken'
c_d = 'Jen'

print (a)
print (_b)
print (a_b)
print (c_d)

Lori
Sam
Ken
Jen

In [ ]:
#@markdown 아래거랑 연계해서 컴퓨터는 직전 것 밖에 기억 못함. 줄만 바꿔도 출력값이 다름.

a = 'Lori'
print (a)
a = 'Emma'
print (a)

Lori
Emma

In [ ]:
a = 'Lori'
a = 'Emma'
print (a)
print (a)

Emma
Emma

In [ ]:
#@markdown d,e,f 리스트 할당

d = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"] #Names of planets
e = ["수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성"] #행성 이름
f = [1,2,3,4,5,6,7,8,]

print (d)
print (e)
print (f)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성']
[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#@markdown g,h,i 리스트 할당

g = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune") #Names of planets
h = ("수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성") #행성 이름
i = (1,2,3,4,5,6,7,8,)

print (g)
print (h)
print (i)

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
('수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성')
(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
#@markdown k랑 m 할당
k = {'Mercury':'수성', 'Venus':'금성', 'Earth':'지구', 'Mars':'화성', 'Jupiter':'목성', 'Saturn':'토성', 'Uranus':'명왕성', 'Neptune':'해왕성'}
m = {'Mercury 수성':1, 'Venus 금성':2, 'Earth 지구':3, 'Mars 화성':4, 'Jupiter 목성':5, 'Saturn 토성':6, 'Uranus 명왕성':7, 'Neptune 해왕성':8}

print (k)
print (m)

{'Mercury': '수성', 'Venus': '금성', 'Earth': '지구', 'Mars': '화성', 'Jupiter': '목성', 'Saturn': '토성', 'Uranus': '명왕성', 'Neptune': '해왕성'}
{'Mercury 수성': 1, 'Venus 금성': 2, 'Earth 지구': 3, 'Mars 화성': 4, 'Jupiter 목성': 5, 'Saturn 토성': 6, 'Uranus 명왕성': 7, 'Neptune 해왕성': 8}

In [ ]:
#@markdown 대괄호는 변수 중에서 지정해서 불러오기 가능
dict = {'a':1, 'b':2, 'c':3}
print (dict)
print (dict['a'])
print (dict['b'])
print (dict['c'])

{'a': 1, 'b': 2, 'c': 3}
1
2
3

In [ ]:
#@markdown 변수값 재할당
dict = {'a':1, 'b':2, 'c':3}
print (dict)

dict['a'] = 7
print (dict)

dict_data = {'c':10, 'b':20, 'a':30}
print (dict_data)
dict_data['a'] = 300
print (dict_data)

{'a': 1, 'b': 2, 'c': 3}
{'a': 7, 'b': 2, 'c': 3}
{'c': 10, 'b': 20, 'a': 30}
{'c': 10, 'b': 20, 'a': 300}

### 3. 인덱싱과 슬라이싱

- [:] 처음부터 전부다.
- (5 미만) [1:5] 1에서부터 5미만까지 (5 미포함)
- (5 미만) [:5] 처음부터 5미만까지 (5 미포함)
- [5:] 5에서부터 끝까지 (5 포함)
- (-3 미만) [:-3] 처음부터 -3까지
- [-3:] -3부터 끝까지
- [::2] 처음에서 하나씩 건너뛰면서 2부터 끝까지

In [ ]:
#@markdown ['\n']은 프린트할때 라인 한줄 띄우는 것, 아래 프린트는 슬라이스 기법중 하나
str_data = 'I love python'
list_data = ['apple', 'banana', 'grapes', 'mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print (str_data)
print ('\n')
print (list_data)
print ('\n')
print (tuple_data)

print (str_data[0])
print (str_data[1])
print (str_data[2])
print (str_data[3])
print (str_data[4])
print (str_data[5])
print (str_data[6])
print (str_data[7])
print (str_data[8])
print (str_data[9])
print (str_data[10])
print (str_data[11])
print (str_data[12])

I love python


['apple', 'banana', 'grapes', 'mango']


('apple', 'banana', 'grapes', 'mango')
I

l
o
v
e

p
y
t
h
o
n

In [ ]:
str = 'temperature'
print (str)

print (str[4])
print (str[1])
print (str[6])
print (str[9])

temperature
e
e
a
r

In [ ]:
str = 'I love Python?'
print (str)

print (str[-1])
print (str[-2])
print (str[-3])
print (str[-4])
print (str[-5])
print (str[-6])
print (str[-7])
print (str[-8])
print (str[-9])
print (str[-10])
print (str[-11])
print (str[-12])
print (str[-13])
print (str[-14])

I love Python?
?
n
o
h
t
y
P

e
v
o
l

I

In [ ]:
str = 'Time is money!!'

print (str[1])
print (str[2])
print (str[5])
print (str[6])
print (str[8])

i
m
i
s
m

In [ ]:
#@markdown """ "(큰 따옴표 1쌍과 앞에 붙는 2개는 인용구)
str = """She said, "Time is money!!"
"""

print (str)
print (str[0])

She said, "Time is money!!"

S

In [ ]:
#@markdown "(큰따옴표 1쌍은 소유격, 단어축약)
str = "I've had two bananas. I think taht it is Sarah's."

print (str)

I've had two bananas. I think taht it is Sarah's.

In [ ]:
#@markdown '(작은 따옴표 1쌍은 축약 등을 할때 입력 오류나옴)
str = 'I've had two bananas. I think it is Sarah's.'

print (str)

SyntaxError: invalid syntax (<ipython-input-32-cd783afc536f>, line 2)

In [ ]:
#@markdown '[]' (대괄호로 묶으면 하나로 취급, 그 묶음 중 하나를 뽑아내고 싶으면 대괄호 한 번 더 쓰고 번호 입력)
list = [1,2, [3,4,5]]

print (list[0])
print (list[1])
print (list[-1])
print ('\n')

print (list[2][1])
print (list[-1][-2])

1
2
[3, 4, 5]


4
4

In [ ]:
#@markdown 재수정 하는 법

list = ['apple', 'banana', 'grapes', 'mango']
print (list)

list[0] ='shine musket'
print (list)

['apple', 'banana', 'grapes', 'mango']
['shine musket', 'banana', 'grapes', 'mango']

In [ ]:
#@markdown 튜플데이터는 수정 안 됨

tuple = ('apple', 'banana', 'grapes', 'mango')
tuple[0] = 'shine musket'
print (tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#@markdown 슬라이스 기법 (범위 설정하는 법은 위에 있음)

str = 'Time is money!!'
print (str[1:5])
print (str[:7])
print (str[9:])
print (str[-3:])
print (str[:])
print (str[::2])

ime
Time is
oney!!
y!!
Time is money!!
Tm smny!

In [ ]:
#@markdown ;(는 한 줄에 나열할 수 있게 해줌) / 붙여 쓸 때 띄어쓰기 하는 법은 앞에 묶음 뒤에 공란을 만들거나 뒤에도 공란을 만들거나 한다. 또는 공란 묶음을 만들면 된다.

str1 = 'I love' ; str2 = 'Python'
print (str1 + str2)
str1 = 'I love ' ; str2 = 'Python'
print (str1 + str2)
str1 = 'I love' ; str2 = ' Python'
print (str1 + str2)
str1 = 'I love' ; str0 = ' ' ;str2 = 'Python'
print (str1 + str0 + str2)

In [ ]:
#@markdown * 에스터리스크는 반복(곱하기 효과)

subjet = 'BTS' ; verb = 'sings' ; object = 'butter'
sentence = subjet + verb + object * 5
print (sentence)

BTSsingsbutterbutterbutterbutterbutter

In [ ]:
#@markdown len은 길이 함수(글자 개수 확인)

str = 'I love Python!'
print (len(str))

14

In [ ]:
#@markdown 시퀀스 자료 크기 이해하기 (len)

str_data = 'I love Python'
print(len(str_data))

13

### 5. 레귤러 익스프레션

##### 라인이나 줄바꿈 같은 거 할 때 사용 역 슬래쉬는 한글자판에 없어서 \씀

|Symbol | Meaning|
|--|--|
|. | 한 개의 임의의 문자 (줄바꿈 문자인 \n는 제외)|
|? | 앞의 문자가 존재할 수도 있고, 존재하지 않을 수도 있음 (문자가 0개 또는 1개)|
|* | 앞의 문자가 무한개로 존재할 수도 있고, 존재하지 않을 수도 있음 (문자가 0개 이상)|
|+ | 앞의 문자가 최소 한 개 이상 존재 (문자가 1개 이상)|
|^ | 뒤의 문자열로 문자열이 시작|
|$ | 앞의 문자열로 문자열이 끝남|

In [ ]:
#@markdown \n은 한 줄 띄우기

a = ('bananas', 'cars', 'notebooks', 'umbrellas')
print (a)
print ('\n')
b = ('banana', 'car', 'notebook', 'umbrella')
print (b)

('bananas', 'cars', 'notebooks', 'umbrellas')


('banana', 'car', 'notebook', 'umbrella')

In [ ]:
#1. 메타 캐릭터 (.)점 import re는 레귤러 익스프레션을 시작할 때 필수

import re

text = "cat, har, bat, sat, mat, combat, unbated"
patten = r".at"

matches = re.findall(patten, text) # 패턴에 해당하는 것을 텍스트에서 찾아 매치해라 라는 명령어

for match in matches:
  print ("Match:", match)
  # 한개한개 찾은거 다 매치해달라는 명령어, 스테이츠먼트가 끝날 때 :은 필수

Match: cat
Match: bat
Match: sat
Match: mat
Match: bat
Match: bat

In [ ]:
import re

text = "cat, har, bat, sat, mat, combat, unbated"
patten = r".at"

matches = re.findall(patten, text)

for match in matches:
  print ("Match:", match)

  # 위 :의 아래의 것들은 들여쓰기가 됨. = 위에 속하는 형태 들여쓰기를 지워서 오류가 났을때는 탭으로 다시 들여써주면 됨.

Match: cat
Match: bat
Match: sat
Match: mat
Match: bat
Match: bat

### 4-1. if문장

In [ ]:
x = 100
y = 95

if x > y:
  print ('x is greater than y.')

else:
  print ('x is smaller than or equal to y.')

x is greater than y.

In [ ]:
x = 2
y = 300

if x > y:
  print ('x is greater than y.')

else:
  print ('x is smaller than or equal to y.')

x is smaller than or equal to y.

In [ ]:
x = 0
y = 0

if x > y:
  print ('x is greater than y.')

else:
  print ('x is smaller than or equal to y.')

x is smaller than or equal to y.

In [ ]:
#@markdown 엘리먼트(객체) 구분은 ',' if스크립트 등을 제대로 작동하려면 :(콜른), 필수 숨기는 것은 # 이거붙이면 됨.
listdata = ['a', 'b', 'c']
if 'a' in listdata:
  print ('a가 listdata 안에 있습니다.')
else:
 print ('해당 문자는 listdata 안에 없습니다.')

a가 listdata 안에 있습니다.

In [ ]:
if x>y:

if 'a' in dict:

### 4-2. for문장

###### int는 정수. 타입 확인은 type

In [ ]:
#@markdown 구성요소는 아무거나 가능 (아래 n은 i가 될 수도 있음. 단 프린트 시 구성요소와 함수는 일치해야 함.)

numbers = (1,2,3,4,5,6,7,8,9)
print (numbers)
print ('\n')

for n in numbers:
  print (n)

(1, 2, 3, 4, 5, 6, 7, 8, 9)


1
2
3
4
5
6
7
8
9

In [ ]:
scope = [1,2,3,4,5,]

for i in scope:
  print (i)

1
2
3
4
5

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
#@markdown 클래스는 키워드라서 변수로 사용할 수 없음. for이 아닌 if도 오류남.

class = ['나', '너', '우리']

for i in class:
  print (i)

SyntaxError: invalid syntax (<ipython-input-53-dba2bfb030cd>, line 3)

In [ ]:
#@markdown 이런식으로 키워드 외의 변수로 지정해야 오류가 안남.

name = ['나', '너', '우리']

for i in name:
  print (i)

나
너
우리

In [ ]:
for i in range(1):
  print (i)
type (i)

0

int

In [ ]:
for x in range (3):
  print(x)

type (x)

0
1
2

int

In [ ]:
for i in range (100000):
  print (i)

In [ ]:
for y in range (10):
  print (y)

type (y)

0
1
2
3
4
5
6
7
8
9

int

In [ ]:
r = range (10)
for i in r:
  print (i)

type (i)

0
1
2
3
4
5
6
7
8
9

int

In [ ]:
for i in range (0):
  print (i)

In [ ]:
list_fruit = ['사과', '바나나', '오렌지', '딸기', '배', '포도', '망고']

for i in list_fruit:
  print (i)

사과
바나나
오렌지
딸기
배
포도
망고

In [ ]:
string = 'abcde'

for i in string:
  print (i)

a
b
c
d
e

In [ ]:
list_int = [1,2,3,4,5]

for i in list_int:
  print (i)

print ('\n')
print (list_int[0])
print ([0])

1
2
3
4
5


1
[0]

In [ ]:
dict1 = {'a':97, 'b':98, 'c':99}
print (dict1['c'])
print ('\n')

for i in dict1:
  print (i)

99


a
b
c